.events-section {

    .events-sections__inner {
        display: flex;
        column-gap: 50px;

        .events-table {
            width: 50%;
            max-width: 50%;

        }
    }

    .fuck-yeah {
        margin-bottom: 40px;
    }

}
