.events-section {

    .events-sections__inner {
        display: flex;
        column-gap: 50px;

        .events-table {
            width: 660px;
            max-width: 50%;
            .event-table-text {
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
    
    .fuck-yeah {
        margin-bottom: 40px;
    }
      
}
