.news-section {
    display: grid;
    grid-column-gap: 18px;
    row-gap: 36px;
    grid-template-columns: repeat(4, calc((100% - 54px) / 4));
    grid-template-rows: 360px 435px;;

    .news {

        &:first-child {
            display: flex;
            align-items: center;
            column-gap: 20px;
            grid-column: 1 / -1;

            .image {
                max-width: 654px;
                max-height: 360px;
                width: auto;

                img {
                    position: unset;
                    top: unset;
                    left: unset;
                    transform: unset;
                    height: 100%;
                }
            }

            .news-content {
                margin-top: 0;
                max-width: 500px;

                .title {
                    margin-top: 24px;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 38px;
                }

                .description {
                    font-size: 20px;
                    margin-top: 16px;
                    line-height: 28px;
                    height: auto;
                    max-height: 150px;
                }
            }
        }

        .image {
            position: relative;
            max-width: 100%;
            height: 100%;
            max-height: 200px;
            width: 100%;
            border-radius: 12px;
            overflow: hidden;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .news-content {
            margin-top: 20px;
            color: #131313;

            .category {
                font-size: 15px;
                font-weight: 400;
            }

            .title {
                margin-top: 16px;
            }

            .description {
                margin-top: 16px;
                height: 70px;
                max-height: 70px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                & > *:not(p) {
                    display: none;
                }

                p br {
                    display: none;
                }
            }

            .data {
                font-size: 15px;
                font-weight: 400;
                color: #656565;
                margin-top: 16px;
            }
        }
    }
}
