.auth {
    position: relative;
    background: #E6ECF3;
    width: 100vw;
    height: 100vh;

    .auth-back {
        display: inline-block;
        padding: 10px 12px;
        border-radius: 6px;
        background: #fff;
        text-decoration: unset;
        color: #000;
        margin-top: 40px;
        box-shadow: none;
        transition: box-shadow .2s linear;

        &:hover {
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            transition: box-shadow .2s linear;
        }
    }

    &__inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 10px;
        padding: 30px;
        min-width: 400px;
        min-height: fit-content;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);

        .auth-title {
            text-align: center;
            font-size: 26px;
        }

        .auth-button {
            display: block;
            margin: 20px auto 0;
            width: 100%;
            height: 60px;
            background: #4272d7;
            font-weight: 600;
            border: 2px solid #4272d7;
            transition: background .2s linear, color .2s linear;
            border-radius: 3px;

            span {
                color: #fff;
                transition: color .2s linear;
            }

            &:hover:not(.disabled):not(.loading) {
                background: transparent;
                transition: background .2s linear;

                span {
                    color: #4272d7;
                    transition: color .2s linear;
                }
            }
        }
    }
}
