.footer-section {
    background: #131313;
    padding: 40px 0;
    margin-top: 40px;

    &__inner {
        display: flex;
        justify-content: space-between;

        .footer__block {

            &__logo {
                color: #fff;
                display: flex;
                align-items: center;

                .logo__image {
                    font-size: 32px;

                    img {
                        max-width: 50px;
                    }
                }

                .logo__text {
                    max-width: 190px;
                    margin-left: 8px;
                    font-size: 15px;
                }

            }

            &__info {
                color: #fff;
                font-size: 15px;
                max-width: 240px;
                margin-top: 15px;
            }

            &__links {
                color: #fff;
                margin-bottom: 15px;
                max-width: 260px;
                font-size: 15px;

                &:first-child {
                    transition: color .2s linear;

                    &:hover {
                        transition: color .2s linear;
                        cursor: pointer;
                        color: #9747FF;
                    }
                }

                // &:last-child {
                //     font-size: 24px;
                //     margin-bottom: 0;
                // }
            }
        }

        @media only screen and (max-width: 590px) {
            flex-direction: column;
            align-items: left;

            .footer__block {

                &__logo {
                    max-width: 100%;
                }

                &__info {
                    max-width: 100%;
                    margin: 0;
                }

                &__links {
                    max-width: 100%;
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}