*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

ul, ol, li {
    list-style-type: none;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 30px;
}

.site {
    margin-top: 124px;
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #252525;
    margin-bottom: 48px;
}

.v-input__details {
    display: none !important;
}

.page-title {
    font-size: 46px;
    margin-bottom: 30px;
}
