*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

html {
    overflow: hidden;
    height: 100%;

    * {
        &::-webkit-scrollbar {
            width: 6px;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #C9C9C9;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
    }
}

::-webkit-scrollbar-thumb {
    background-color: #C9C9C9;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

ul, ol, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1710px ) {
        max-width: 1324px;
    }

    @media only screen and (max-width: 768px) {
        max-width: 100%;
        padding: 0 15px;
    }
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow-x: hidden;
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #252525;
    margin-bottom: 48px;
}

.page-title {
    font-size: 46px;
    margin-bottom: 30px;
}

