.button {
    position: relative;
    cursor: default;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #003882;
    font-weight: 700;
    font-size: 14px;
    background: transparent;
    transition: background .2s linear;
    white-space: nowrap;

    span {
        color: #003882;
        transition: color .2s linear;
    }

    &:hover:not(.disabled):not(.loading) {
        background: #003882;
        cursor: pointer;
        transition: background .2s linear;

        span {
            color: #ffff;
            transition: color .2s linear;
        }
    }

    &.large {
        padding: 12px 36px;


        span {
            font-size: 16px;
        }
    }

    &.blue {
        background: #003882;

        span {
            color: #ffff;
        }

        &:hover:not(.disabled):not(.loading) {
            background: transparent;

            span {
                color: #003882;
            }
        }
    }

    &.red {
        background: #f56c6c;
        border: 1px solid #f56c6c;

        span {
            color: #ffff;
        }

        &:hover:not(.disabled):not(.loading) {
            background: transparent;

            span {
                color: #f56c6c;
            }
        }
    }

    &.green {
        background: #95d475;
        border: 1px solid #95d475;

        span {
            color: #ffff;
        }

        &:hover:not(.disabled):not(.loading) {
            background: transparent;

            span {
                color: #95d475;
            }
        }
    }
}
